.select2-drop > .select2-add {
    margin: 4px;
    height: 34px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.select2-drop > .select2-add a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 32px;
}

.select2-drop > .select2-add input,
.select2-drop > .select2-add button {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
}

.select2-drop > .select2-add input {
    width: calc(100% - 52px);
    width: -webkit-calc(100% - 52px);
    height: 100%;
    border: none;
}

.select2-drop > .select2-add button {
    font-size: 12px;
    right: 0;
}